<Configuration status="INFO" monitorInterval="300">
    <properties>
        <property name="LOG_HOME">/logs</property>
        <property name="FILE_NAME">log</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="I" fileName="${LOG_HOME}/info.log" bufferedIO="false"
              advertise="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="E" fileName="${LOG_HOME}/error.log" bufferedIO="false"
              advertise="true">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- 全局日志level设为INFO -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="I"/>
            <AppenderRef ref="E"/>
        </Root>
        <!-- 自己项目的 level 设为debug  -->
        <Logger name="com.qiuzq" level="DEBUG" additivity="false">
            <AppenderRef ref="I"/>
            <AppenderRef ref="E"/>
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>